.zoomViewport
  .zoomContainer
    #taarten.zoomTarget
      .low-detail Taarten
      %ul.high-detail
        %li.zoomTarget
          .low-detail Appeltaart
          .high-detail
            %img{:height => "auto", :src => "http://appeltaartrecepten.com/wp-content/uploads/Klassieke-appeltaart.png", :width => "100%"}/
            %form
              %input{:name => "topping", :type => "checkbox", :value => "slagroom"}>/
              Slagroom
              = succeed "Kersen" do
                %input{:name => "topping", :type => "checkbox", :value => "kersen"}/
              %input{:type => "submit", :value => "Bestellen"}/
        - %w(Appel Bananen Citroen Peren).each do |fruit|
          %li.zoomTarget{id: fruit}
            .low-detail #{fruit}
            .high-detail
              .zoomTarget
                .low-detail #{fruit}
                .high-detail
                  .zoomTarget
                    .low-detail #{fruit}
                    .high-detail
                      .zoomTarget
                        .low-detail #{fruit}
                        .high-detail
